<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Track your munro bagging solo and team career">
  <title>munrosWithFriends</title>
  <link rel="icon" href="/static/images/munro.png" type="image/png">

  <link rel="stylesheet" href="/static/css/styles.css">

  <script>window.API_KEY = '{{ os_apikey }}'</script>

  <script type="module" src="/static/js/search_map_sidebar.js"></script>
  <script type="module" src="/static/js/navigate_to_coords.js"></script>
  <script type="module" src="/static/js/toggle_side_bar.js"></script>
  <script type="module" src="/static/js/login_panel_toggle.js"></script>

  <!--leaflet stylesheet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
<div id="map"></div>

<div id="table_layer" class="collapsed">
  <table id="mountainTable">
    <thead style="position: fixed; top: 0; background: white; z-index: 1000;">
      <th style="text-align: left; width: 125px">
        Name (282)<br>
        <input type="text" id="searchInput" placeholder="🔍" style="width: 100px; text-align: left;">
      </th>
    </thead>
    <tbody style="display:block; margin-top: 30px;">
      {% for loc in locations %}
        <tr>
          <td>
            <button {{ loc.style|e }} 
                    onclick="goToLocation({{ loc.latitude }}, {{ loc.longitude }})">
              {{ loc.name }}
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Toggle Button -->
<button id="toggleSidebar">Show table</button>

<div id="login">

<style>
  #login-form input[name="user_name"],
  #signup-form input[name="user_name"],
  #login-form input[name="password"],
  #signup-form input[name="password"],
  #login-form button,
  #signup-form button,
  .links {
    margin-top: 8px;
    display: block;
  }
</style>

<div>
  <!-- Login Form -->
  <h2 id="form-title">{{ "Sign up" if show_signup else "Login" }}</h2>
  
  <form id="login-form" action="/login" method="POST" 
        style="display: {{ 'none' if show_signup else 'block' }};">
    <input type="text" name="user_name" placeholder="Username" required style="width:120px">
    <input type="password" name="password" placeholder="Password" required style="width:120px">
    <button type="submit">Login</button>
  </form>

  <!-- Signup Form -->
  <form id="signup-form" action="/signup" method="POST" 
        style="display: {{ 'block' if show_signup else 'none' }};">
    <input type="text" name="user_name" placeholder="Username" required style="width:120px">
    <input type="password" name="password" placeholder="Password" required style="width:120px">
    <button type="submit">Sign up</button>
  </form>

  <div class="links">
    <a href="#" id="toggle-form">{{ "To login" if show_signup else "To sign up" }}</a>
  </div>
  {% if message %}
  <p style="font-weight: bold; color: {{ color }};">
    {{ message }}
  </p>
  {% endif %}
</div>

<!--add base map-->
<script src="/static/js/base_map.js"></script>

<script>
gapIcon = L.icon({
    iconUrl: '/static/images/gap.png',
    iconSize: [18, 18],
    iconAnchor: [10, 10],
    popupAnchor: [0, -10]
    });

//for all munro location data add icon at coords
{% for loc in locations %}
L.marker([{{ loc.latitude }}, {{ loc.longitude }}], {icon: gapIcon})
  .addTo(map)
  .bindTooltip({{ loc.name|tojson }}, {
    permanent: false,
    direction: 'top',
    offset: [-1, -7]
  })
  .on('click', function (e) {
  //add popup
  const popupContent = `
        <div>
      <h3 style="margin: 0;">{{ loc.name }}</h3>
      <p style="margin: 0; font-size: 12px; text-align: center;">
        <a href="{{ loc.whl_url }}" target="_blank">walkhighlands</a>
      </p>
      <br>

      <div style="
        display: grid;
        grid-template-columns: max-content 1fr;
        row-gap: 4px;
        column-gap: 8px;
        font-size: 13px;
        ">

        <strong>Height:</strong>
        <span>{{ loc.height }}</span>

        <strong>Region:</strong>
        <span>{{ loc.region }}</span>
      </div>
      `;

    L.popup()
      .setLatLng(e.latlng)
      .setContent(popupContent)
      .openOn(map);
  });

{% endfor %}
</script>

</body>
</html>